<!DOCTYPE html>
<html lang="pt-br">
 <head th:replace="~{base :: head(Login)}"> </head>

<body>

<div class="container">
    <div class="item"></div>
</div>

        <div style="display: flex; align-items: center; justify-content: center; height: 900px">
            <div style="height: 400px; width: 300px; border-radius: 5px; background-color: #470848">
                <div class="container">

                    <h4 class="mt-3" style="color: white"> Login </h4>

                <form method="post" action="/admin/dash" class="mt-5">

                    <div class>
                        <label for="usuario" class="form-label" style="color: white">Usuário </label>
                        <input type="text" class="form-control" placeholder="usuário" id="usuario" name="usuario">
                        <!--  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>

                    <div class>
                        <label for="senha" class="form-label" style="color: white"> Senha </label>
                        <input type="text" class="form-control" placeholder="senha" id="senha" name="senha">
                        <!--  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>

                </form>
                </div>
            </div>
        </div>

</body>
</html>