*{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --bg-color-menu: #470848;
}

.menu {
    background-color: var(--bg-color-menu);
}

.menu_hover a:hover{
    border-bottom: 1px solid blue;
}
